<!-- source/flats/show.html.erb -->

<!-- Read from data.flats with owner's name as key -->
<div class= "text-center">
<% flat = data.flats[owner] %>

<!-- Inject flat data in template -->
<%= image_tag flat.owner_picture, class: "avatar-large" %>
<p><%= flat.owner_name %></p>
<h1><%= flat.description %></h1>
<p><%= flat.city %></p>
<%= image_tag flat.picture %>
          <form action="#" class="form-inline">
            <input type="search" placeholder="checkin" class="form-control input-lg">
            <input type="search" placeholder="checkout" class="form-control input-lg">
            <select class="form-control input-lg">
              <option value="1">1 guest</option>
              <option value="2">2 guests</option>
              <option value="3">3 guests</option>
            </select>
            <input type="submit" value="Search" class="btn btn-primary btn-lg">
          </form>
</div>
